* {
    user-select: none;
}
.movie-img {
    box-sizing: border-box;
    margin: 0%;
    width: 8.5rem;
    height: 4.5rem;
}
.favourites-cont {
    display: flex;
    justify-content: space-around;
}